
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a
               asp-action="Index"
               asp-controller="Home">
                <i class="fa fa-fw  fa-table"></i>
                <b>Home</b>
            </a>
        </li>
        <li>
            <a asp-action="Settings"
               asp-controller="Home">
                <i class="fa fa-fw fa-wrench"></i>
                <b>Tracker Settings</b> 
            </a>
        </li>
    </ul>
</div>
